{% extends 'bootstrap/base.html' %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	{{ moment.lang(g.locale) }}
<script>
	$(function () {
		var timer = null;
		var xhr = null;
		$('.user_popup').hover(
			function(event) {
				// mouse in
				var elem = $(event.currentTarget);
				timer = setTimeout(function() {
					timer = null;
					xhr = $.ajax('/user/' + elem.first().text().trim() + '/popup').done(
						function(data) {
							xhr = null;
							elem.popover({
								trigger: 'manual',
								html: true,
								animation: false,
								container: elem,
								content: data,
							}).popover('show');
							flask_moment_render_all();
						}
					);
				}, 1000);
			},
			function(event) {
				// mouse out
				var elem = $(event.currentTarget);
				if (timer) {
					clearTimeout(timer);
					timer = null;
				}
				else if (xhr) {
					xhr.abort();
					xhr = null;
				}
				else {
					elem.popover('destroy');
				}
			},
		)
	});
	{% if current_user.is_authenticated %}
	$(function() {
		var since = 0.0;
		setInterval(function() {
			$.ajax("{{ url_for('main.notifications') }}?since=" + since).done(
				function(notifications) {
					for (var i = 0; i < notifications.length; i++) {
						var notif = notifications[i];
						switch(notif.name) {
						case 'unread_message_count':
							update_message_count(notif.data);
							break;
						case 'task_progress':
							update_task_progress(
								notif.data.task_id,
								notif.data.progress,
							);
							break;
						}
						since = notifications[i].timestamp;
					}
				}
			);
		}, 10000);
	});
	{% endif %}
	function translate(srcElem, dstElem, srcLang, dstLang) {
		$(dstElem).html('<img src = "{{ url_for('static', filename = 'loading.gif') }}">');
		$.post('/translate', {
			text : $(srcElem).text(),
			src_lang : srcLang,
			dst_lang : dstLang,
		}).done(function(response) {
			$(dstElem).text(response['text'])
		}).fail(function() {
			$(dstElem).text("{{ _('Error: Could not contact server.') }}");
		});
	}
	function update_message_count(n) {
		$('#message_count').text(n);
		$('#message_count').css('visibility', n ? 'visible' : 'hidden');
	}
</script>
{% endblock %}

{% block title %}
	{% if title %}
	{{ title }} - Microblog
	{% else %}
	Microblog
	{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expand="false">
				<span class="sr-only">{{ _('Toggle navigation') }}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('main.index') }}">{{ _('Microblog') }}</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
				<li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
			</ul>
			{% if g.search_form %}
			<form class="navbar-form navbar-left" method="get"
				  action="{{ url_for('main.search')  }}">
				<div class="form-group">
					{{ g.search_form.query(size=20, class="form-control",
						placeholder=g.search_form.query.label.text) }}
				</div>
			</form>
			{% endif %}
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_anonymous %}
				<li><a href="{{ url_for('main.index') }}">{{ _('Login') }}</a></li>
				{% else %}
				<li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
				<li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
				<li>
					<a href = "{{ url_for('main.messages') }}">
						{{ _('Messages') }}
						{% set new_messages = current_user.get_new_message_count() %}
						<span
							id = "message_count"
							class = "badge"
							style = "visibility: {% if new_messages %}visible
									{% else %}hidden{% endif %};">
							{{ new_messages }}
						</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-info" role="alert">{{ _('%(message)s', message = message) }}</div>
		{% endfor %}
	{% endif %}
	{% endwith %}

	{% block app_content %}{% endblock %}
</div>
{% endblock %}
