{% macro post(p) -%}
<table class = "table table-hover">
  <tr>
    <td width = "70px">
      <a href = "{{ url_for('main.user', username = p.author.username) }}">
        <img src = "{{ p.author.avatar(70) }}"/>
      </a>
    </td>
    <td>
      {% set user_link %}
      <span class = "user_popup">
        <a href = "{{ url_for('main.user', username = p.author.username) }}">
          {{ p.author.username }}
        </a>
      </span>
      {% endset %}
      {{ _('%(username)s %(when)s:',
        username = user_link,
        when = moment(p.timestamp).fromNow()) }}
      <br>
      <span id = "post{{ p.id }}">{{ p.body }}</span>
      {% if p.language and p.language != g.locale %}
      <br><br>
      <span id = "translation{{ p.id }}">
        <a href = "javascript:translate(
              '#post{{ p.id }}',
              '#translation{{ p.id }}',
              '{{ p.language }}',
              '{{ g.locale }}',
            );">{{ _('Translate') }}</a>
      </span>
      {% endif %}
    </td>
  </tr>
</table>
{%- endmacro %}

{% macro part(p, q) -%}
<tr>
  <td width = "80px">
    {% if p.img_url != '' %}
    <img src = "{{ url_for('static', filename = p.get_img_url() ) }}"/>
    {% else %}
    <img src = "{{ p.get_img_url() }}"/>
    {% endif %}
    <span id = "part_name{{ p.id }}">{{ p.name }}</span>
    <br>
    <span id = "part_id{{ p.id }}">#{{ p.id }}</span>
  </td>
  <td>
    <span id = "part_quantity{{ p.id }}">{{ q.quantity }}</span>
  </td>
  <td>
    <span id = "part_desc{{ p.id }}">{{ p.desc }}</span>
  </td>
</tr>
{%- endmacro %}
